<div class="container">
  <div class="jumbotron" style="background-color: rgba(108, 166, 214, 0.288)">
    <h1 style="color: rgb(165, 49, 103);">
      Welcome to Mean Portfolio
    </h1>

    <br />
    <p
      style=" font-family: Lucida Sans, Lucida Sans Regular, Lucida Grande,
    Lucida Sans Unicode, Geneva, Verdana, sans-serif;
  font-size: 16px;"
    >
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Hi! I am Khushboo Sakervala. I am a Software Engineer. My key technical
      skills are in the area of programming and developing of web application.
    </p>
    <h4 style="color: rgb(75, 22, 110);">Mission Statement:</h4>
    <p class="content">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      To serve the organisation with all my technical abilities and managerial
      skills with immense dedication to enhance my growth profile within the
      organisation. developing.
    </p>
    <h4 style="color: rgb(75, 22, 110);">Detail Informations:</h4>
    <a class="nav-link" routerLink="/about" role="button"><b>About Me</b></a>

    <a class="nav-link" routerLink="/projects" role="button"><b>Projects</b></a>
    <a class="nav-link" routerLink="/services" role="button"
      ><b> Services</b></a
    >
    <a class="nav-link" routerLink="/contact" role="button"
      ><b>Contact Inforamtion</b></a
    >
    <br />
  </div>
</div>
